<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/index1.css">
</head>
<body>
<div class="container">
    <h1 id="h1"> Classic Model Online </h1>
    <h3 > ! You are currently At HomePage !</h3>
    <h4> Menu List : </h4>
    <ul class="custom-list">
        <li>
            <h4 >
                <a href="/offices/all">List All Office </a>
            </h4>
        </li>
        <li><h4 ><a href="/">Go to Start Page </a></h4></li>
    </ul>

</div>





</body>
</html>